<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Clinica.Properties.Settings.ClinicaConnectionString"
            connectionString="Data Source=DESKTOP-AGOLK2B\SQLEXPRESS;Initial Catalog=Clinica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Clinica.Properties.Settings.ClinicaConnectionString1"
            connectionString="Data Source=LAPTOP-BSS49D9R\SQLEXPRESS;Initial Catalog=Clinica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Clinica.Properties.Settings.ClinicaConnectionString2"
            connectionString="Data Source=LAPTOP-NLI66R5G\SQLEXPRESS;Initial Catalog=Clinica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>